@media only screen and (max-width: 600px) {
    .navbar-brand img{
        width:80px;
        height:80px;
    }
   
    .banner-img{
        height:70px;
       
    }
    .card-img{
        width:70px!important;
        height: auto;
    }
    .modal-free-fire{
        margin-top:420px;
       
    }
    .cardthree{
        margin-top:10px;
    }
   
    .free-fire-img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }
    .animate-bottom {
        position: relative;
        animation: animatebottom 0.4s;
      }
      
      @keyframes animatebottom {
        from {
          bottom:-100px;
          opacity: 0;
        }
      
        to {
          bottom:0;
          opacity: 1;
        }
      }
      .navbar-collapse .head{
          width:50%;
          row-gap: 10px;
      }
      .head-two{
        background-color: rgba(216, 216, 216, 0.589);
        border:1px solid white;
        padding:5px 10px;
    }
   .head-one{
      background-color: rgba(216, 216, 216, 0.589);
      border:1px solid white;
      padding:5px 10px;
     padding-right:5px;
  }
 
  .navbar-toggler{
      border:none!important;
  }
  .navbar-toggler:hover{
    border:none!important;
    }
    .offcanvas-end {
       
        width: 250px !important;
       
    }
    .userspan{
       margin-top:5px;
        display: block;
        border:2px solid black;
        float:left;
        width:100%;
    }


}
@media only screen and (max-width: 768px) {
    .banner-img{
        height:70px;
       
    }
 
    .card-img{
        width:70px!important;
        height: auto;
    }
    .modal-free-fire{
        margin-top:340px;
       
    }
    .head-wallet li{
        margin-top:10px;
    }
    .free-fire-img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }
    .tabal img{
        width:30px;
        height:30px;
    }
    .ingamepage-logo{
        width:20px;
        height:20px;
    }
    .ingamepage-h4{
        font-size:22px;
    }
    .ingamepage-h5{
        font-size:15px;
    }
      .navbar-collapse .head{
          width:50%;
          row-gap: 10px;
      }
     .head-two{
          background-color: rgba(216, 216, 216, 0.589);
          border:1px solid white;
          padding:5px 10px;
      }
     .head-one{
        background-color: rgba(216, 216, 216, 0.589);
        border:1px solid white;
        padding:5px 10px;
       padding-right:5px;
    }
    .uid-img img{
        width:100%!important;
    }
    .membership-section img{
        width:100%;
    }
    .order-section .orderimg{
        width:90px!important;
        height:90px!important;

    }
    .tabal2 img{
        width:20px;
        height: 20px;;
    }
    .notenoughmoney img{
        width:80px;
        height: 80px;
    }
    .bkas{
        margin-left:20px;
    }
    .nagad{
        margin-left:20px;
    }
    .rocket{
        margin-left:20px;
    }
    .bk,.na,.roc{
        margin-right: 20px;
    }
    .cardd-img{
        width:120px;
        height:90px;
        object-fit:cover;
    }
    .bkash-div{
        margin-left:25px;
    }
  
}

@media only screen and (max-width: 992px) {
    .banner-img{
        height:70px;
       
    }
    .card-img{
        width:70px!important;
        height: auto;
    }
    .navbar-expand-lg .offcanvas-body {
        justify-content: end !important;
    }
    .modal-free-fire{
        margin-top:340px;
       
    }
    .free-fire-img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }
    .tabal2 img{
        width:20px!important;
        height: 20px!important;
    }
      .navbar-collapse .head{
          width:50%;
          row-gap: 10px;
      }
      .navbar-collapse .head .head-one, .head-two{
          background-color: rgba(216, 216, 216, 0.589);
          border:1px solid white;
          padding:5px 10px;
      }
      .navbar-collapse .head .head-one{
       padding-right:5px;
    }
    .uid-sediv h6{
        text-align: left;
    }
}
@media (min-width: 992px){
    .navbar-expand-lg .offcanvas-body {
    justify-content: end !important;
}
}


