*{
    padding:0px;
    margin:0px;
   
}
.navbar-brand img{
    width:100px;
    height:80px;
}
.banner-img{
    width:100%;
    height:123px;
}
.navbar-nav li img{
    width:24px;
    height:24px;
}
header a{
    text-decoration: none;
    color:black;
}
header a:hover{
    text-decoration: none;
    color:black;
}

/* .login{
    margin: 8px 0 0 10px;
    border: 1px solid #d9d9d9;
    border-radius: 18px;
    padding:4px 10px
} */
.h7{
    font-weight:600;
}
.banner{
    padding-top:10px;
}
.banner,.card-section{
    background-color: #FAFAFA;
}
.card{
    background-color: #FAFAFA!important;
}
.card-img{
    width:120px!important;
}
.card:hover{
    background-color:white!important;
}
.card-section a{
    text-decoration: none;
    color:black;
}
.card-section a:hover{
    text-decoration: none;
    color:black;
}
.card-section{
    padding-top:10px;
}
.card4{
    margin-bottom:30px;
}
.free-fire-body a{
    text-decoration: none;
}
.free-fire-body a:hover{
    text-decoration: none;
}
.footer{
    margin-top:10px;
    margin-bottom:10px;
}
.footer p{
    color:rgb(185, 184, 184);
}
.footer a{
    text-decoration: none;
    color:rgb(185, 184, 184);
}
.footer a:hover{
    text-decoration: none;
    color:black;
}
.modal{
    margin-top:200px;
}
.free-fire-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}
.apk:hover{
    color:red!important;
}

.free-fire p{
    text-decoration: none;
    color:black;
    font-weight: 500;
}
.free-fire p:hover{
    text-decoration:none;
    color:black;
}
.login{
    margin-right:10px;
}
.head-one .nav-link,.head-two .nav-link{
    color:black!important;
    font-weight: 600;
}
.cards{
    background-image: url('../photo/cardsi.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:20px;
    padding-bottom:20px;
    
}
.cards .card{
    border:none;
}
.cards img{
    width:150px;
    height:150px;
    border-radius:10%;
   
}
.cardone,.cardthree{
    background: transparent!important;
}
.cards a{
    text-decoration: none;
    color: #16AEE6;
}
.cards a:hover{
    text-decoration: none;
    color: #16AEE6;
}
.add-money-gatway{
    background-color: rgb(245, 243, 243);
    padding-top:20px;
}
.button1 button{
    display:block;
    margin:0 auto;
}

.recent-history{
    margin-top:20px;
    padding-top:20px;
    padding-bottom:200px;
    background-color: rgba(187, 187, 187, 0.589);
}
.ingame-topup{
    padding-top:30px;
    background-color: rgba(228, 224, 224, 0.274);
   

}
.paymentinput{
    margin-top:-15px;
    margin-left:25px;
   
}
.paymentborder{
    border:1px solid black;
    float:left;
    width:95%;
    padding:40px 20px;
}
.tabal img{
    width:40px;
    height:40px;
}

.di-t{
    width:100px;
    border:1px solid black;
    float:right;
    border-radius: 10px;
    text-align: center;
    margin-top:10px;
}
.uid-img img{
    width:100%!important;
}
.taka{
    width:20px!important;
    height:20px!important;
}
.uid-sediv h6{
    text-align: left;
    margin-left:28px;
}
.uid-text a{
    text-decoration: none;
    color:black;
}
.uid-text a:hover{
    text-decoration: none;
    color:black;
}
.membership-section img{
    width:70%;
    height:auto;
}
.mem-span{
    color:red;
}